/* HEADER AND FOOTER CSS START  */

.head {
    background-color: #e0dfdf;
    padding: 1px 0px;
    color: grey;
    font-size: 14px
}

.icon {
    padding: 0px 10px;
    color: #303030;
}

.link {
    color: #6eb8be;
}

.link:hover {
    color: #ffb1b1;
}

/* HEADER AND FOOTER CSS END */

.h1 {
    background-image: url(/img/baech2.jpg);
    width: 1300px;
    height: 500px;
    text-align: center;
    padding-top: 280px;
}

h2 {
    padding-inline-start: 4cm;
    padding-top: 1.5cm;
}

.ourstory {
    padding-top: 50px;
    padding-left: 6cm;
    padding-right: 6cm;
    word-spacing: 6px;

}

.row .cols-6 {
    padding-left: 4cm;
    padding-bottom: 2cm;
}

.row-icon {
    padding-left: 6cm;
}

.card-deck {

    padding-top: 2cm;

}