/* HEADER AND FOOTER CSS START  */

.head {
    background-color: #e0dfdf;
    padding: 1px 0px;
    color: grey;
    font-size: 14px
}

.icon {
    padding: 0px 10px;
    color: #303030;
}

.link {
    color: #6eb8be;
}

.link:hover {
    color: #ffb1b1;
}

/* HEADER AND FOOTER CSS END */

.tengah{
    /* margin-top: 10px; */
    background-image: url(../img/th.jpg);
    height: 400px; 
    padding-left: 0px;
    display:flex;
   
}

.tengah h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: cornsilk;
   
}

.form button{
    background-color: rgb(64, 97, 134);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgray;
    border-radius: 8px;
    
}


}

.container button{
    background-color: rgb(64, 97, 134);
    border-radius: 8px;
}

